<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link href="/css/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <line href="/css/zTreeStyle/zTreeStyle-min.css" rel="stylesheet"/>
    {{template "common/bootstrap_css_cdn.html" .}}

    <link href="/css/theme/default.css" type="text/css" rel="stylesheet"/>
</head>
<body>

    <div id="page">
        <div id="pageInner">
            <div id="header">
                <div id="logo" class="pull-left">

                </div>

                <div id="switcher" class="pull-left">
                    <i class="fa fa-align-justify" title="{{msg . "leftHidden"}}"></i>
                    <span title="{{msg . "leftShow"}}"></span>
                </div>

                <div id="searchWrap" class="pull-left">
                    <form id="searchNote" class="navbar-form form-inline col-lg-2">
                        <input id="searchNoteInput" type="text" class="form-control" placeholder="{{msg . "searchNote"}}">
                    </form>
                </div>
            </div>

            <div id="mainContainer" class="clearfix">
                <!--<div id="mainMask">-->
                    <!--<img src="/img/loading-30.gif"/>-->
                    <!--<br/>-->
                    <!--<br/>-->
                    <!--loading...-->
                <!--</div>-->

                <div id="leftNotebook">
                    <div id="notebook">
                        <div id="myNotebooks" class="folderNote opened">
                            <div class="folderHeader clearfix">
                                <i class="fa fa-book pull-left fa-left"></i>
                                <span class="pull-left">{{msg . "notebook"}}</span>

                                <div id="addNotebookPlus" class="pull-right" title="{{msg . "addNotebook"}}">
                                    <i class="fa fa-plus" title="{{msg . "addNotebook"}}"></i>
                                </div>
                            </div>

                            <div class="folderBody">
                                <input id="searchNotebookForList" type="text" class="form-control" placeholder="{{msg . "searchNotebook"}}"/>
                                <ul class="ztree" id="notebookList"></ul>
                                <ul class="ztree" id="notebookListForSearch"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--include bootstrap & jquery js-->
    {{template "common/jquery_cdn.html" .}}
    {{template "common/bootstrap_cdn.html" .}}

</body>
</html>