{{template "home/header.html" .}}
<section>
    <div class="header">
        <h2>Nevernote, {{msg . "slogan"}}</h2>
        <p>{{msg . "slogan2"}}</p>
        <p>{{msg . "slogan3"}}</p>

        <div>
            <a class="btn btn-default btn-primary" href="/register">{{msg . "register"}}</a>
            <a class="btn btn-default" href="/login">{{msg . "login"}}</a>
        </div>
    </div>
</section>

<!--include bootstrap & jquery js-->
{{template "common/jquery_cdn.html" .}}
{{template "common/bootstrap_cdn.html" .}}
</body>
</html>