@import "include/header.less";
@import "include/page.less";
@import "include/common.less";
@import "include/notebooks.less";

#logo,
#switcher span
{
  font-family: 'leanote' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo:before {
  content: "\e600";
  line-height: 1;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}



#switcher span:before {
  context: "\e601";
}

@fontFamily: 'Open Sans', Helvetica, Tahoma, Arial, Hiragino Sans GB, "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
@aceFontFamily: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', Hiragino Sans GB, "Microsoft YaHei", "微软雅黑";

@headerHeight: 60px;
@headerHeightNoBorder: 59px;

@borderColor: #EBEFF2;
@hColor: #ofb264;
@headerBgColor: #25313e;

@searchNoteInputBorder: none;
@searchNoteInputBgColor: #000;
@searchNoteInputTextColor: #ccc;
@headerBottomBorderColor: @headerBgColor;
@headerTextColor: #fff;

@noteListWidth: 250px;

@leftNotebookWidth: 170px;
@folderHeaderHeight: 35px;
@folderHeaderBorderColor: rgba(255, 255, 255, 0.05);
@folderHeaderIconColor: #fff;

@notebookBgColor: #41586e;

@addNotebookColor: #ADBECE;

@notebookInputBorder: 1px solid rgba(0, 0, 0, 0.1);
@notebookInputColor: #fff;
@notebookBodyBgColor: #37485e;








