#logo {
  font-size: 36px;
}
#header {
  height: 60px;
  background-color: #25313e;
  border-bottom: 1px solid #25313e;
  color: #fff;
}
#logo {
  line-height: 50px;
  box-sizing: content-box;
  width: 140px;
  height: 60px;
  padding-left: 10px;
  padding-top: 0px;
}
#switcher {
  line-height: 50px;
  padding-top: 6px;
  padding-right: 5px;
  width: 30px;
  text-align: center;
}
#switcher i {
  font-size: 16px;
  cursor: pointer;
}
#switcher i:hover {
  color: #ofb264;
}
#searchNote {
  padding-left: 0;
  line-height: 60px;
  margin: 0;
}
#searchNote input {
  background-size: 18px 13px;
  border-color: #EBEFF2;
  border: none;
  color: #ccc;
  background-color: #000;
  padding-left: 14px;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  line-height: 20px;
  box-shadow: none;
}
#page {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pageInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#mainContainer {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  zoom: 1;
}
#mainMask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  text-align: center;
  padding-top: 100px;
  z-index: 1000;
}
@font-face {
  font-family: 'leanote';
  src: url('../../font/leanote-font2/leanote.eot?-vcf23i');
  src: url('../../font/leanote-font2/leanote.eot?#iefix-vcf23i') format('embedded-opentype'), url('../../font/leanote-font2/leanote.ttf?-vcf23i') format('truetype'), url('../../font/leanote-font2/leanote.woff?-vcf23i') format('woff'), url('../../font/leanote-font2/leanote.svg?-vcf23i#leanote') format('svg');
  font-weight: normal;
  font-style: normal;
}
#leftNotebook {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 170px;
}
#notebook,
#notebookMin {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #41586e;
  overflow-y: auto;
  overflow-x: auto;
  z-index: 2;
}
#addNotebookPlus {
  padding-right: 10px;
  color: #ADBECE;
}
#addNotebookPlus .fa {
  font-size: 16px;
}
#searchNotebookForList {
  height: 30px;
  width: 90%;
  margin: 3px auto;
  margin-top: 0;
  border-color: #ebeff2;
  box-shadow: none;
}
#notebookList input,
#notebookListForSearch input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  padding-left: 3px;
  box-shadow: none;
  background: none;
  color: #fff;
}
#notebookList input:focus,
#notebookListForSearch input:focus {
  outline: none !important;
}
.notebook-setting {
  position: absolute;
  right: 1px;
  top: 0;
  bottom: 0;
  z-index: 2;
  line-height: 30px;
  text-align: center;
}
.notebook-setting:before {
  content: "\f013";
}
.notebook-number-notes {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  line-height: 20px !important;
  height: 20px;
  margin-top: 5px;
  padding: 0 3px;
}
.folderBody {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #37485e;
}
.folderBody li {
  line-height: 30px;
}
.folderHeader {
  min-height: 35px;
  line-height: 35px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.05);
}
.folderHeader span {
  display: inline-block;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
}
.folderHeader .fa-left,
.friend-header i.fa {
  display: inline-block;
  line-height: 35px;
  font-size: 16px;
  width: 35px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  color: #fff;
}
.ztree {
  padding: 0px;
}
.ztree > li {
  height: 30px;
  border-bottom: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.05);
}
.ztree li span {
  line-height: 30px;
}
.ztree li a:hover .notebook-setting {
  display: block;
}
.ztree li a {
  color: #ADBECE;
  background-color: transparent;
  display: block;
  position: relative;
}
.ztree li a.curSelectedNode {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #fff;
}
#logo,
#switcher span {
  font-family: 'leanote' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#logo:before {
  content: "\e600";
  line-height: 1;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}
#switcher span:before {
  context: "\e601";
}
#searchNotebookForList {
  color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #37485e;
}
#searchNotebookForList:focus {
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
